html {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  position: relative;
  overflow-y: hidden;
}

body {
  background-color: #ddae7e;
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 500px) {
  #game {
    height: 60vh;
    width: 100vw;
    background-color: #2390cc;
  }
  .input-rounded {
    border-radius: 1rem;
    border-style: none;
    width: 400px;
    height: 35px;
  }
}

@media (min-width: 769px) {
  #game {
    height: 50vh;
    width: 100vw;
    background-color: #2390cc;
  }
  .input-rounded {
    border-radius: 1rem;
    border-style: none;
    width: 400px;
    height: 35px;
  }
}

@media (max-width: 500px) {
  #game {
    height: 100vh;
    width: 100vw;
    background-color: #2390cc;
  }
  .input-rounded {
    border-radius: 1rem;
    border-style: none;
    width: 75vw;
    height: 35px;
  }
}

.positioning {
  position: relative;
}

.color-white {
  color: #fff;
}

#rules-section {
  display: none;
}

#rules-section {
  font-size: 22px;
}

#game-run {
  display: none;
}

#game-summary {
  display: none;
}
